@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components  {
    .primary-btn {
      @apply bg-white hover:shadow-md text-gray-500 font-bold py-2 px-4 rounded-full 
      shadow-lg
      active:scale-90 hover:scale-105 transition ease-out duration-200 transform;
    }
  }